.nav-header-container{
    width: 100%;
    height: auto;
    background-color: #484848;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid;
    border-color: white;
    /* animation: colorCycle 5s infinite; */
}

.site-name{
    margin: 0;
    font-size: 48px;
    color: white;
    white-space: nowrap;
}

.wallet-address-text{
    margin: 0;
    font-size: 20px;
    color: white;
}

.nav-wallet-container{
    width: 40%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2%;
}

.nav-wallet-picture{
    width: 40px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 9999px;
    margin-right: 2%;
}

.parent-container{
    display: flex;
    flex-direction: column;
}

body{
    background-color: #323131;
}

/* @keyframes colorCycle {
    0% {border-color: red;}
    25% {border-color: orange;}
    50% {border-color: green;}
    75% {border-color: blue;}
    100% {border-color: red;}
} */