.game-container{
    display: flex;
    justify-content: center;
    background-color: none;
    height: auto;
    width: 55%;
}

.current-game-container{
    width: auto;
    height: auto;
    background-color: #5C5C5C;
    margin: 2em;
    border: 3px solid black;
    border-radius: 7%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-color: white;
    /* animation: colorCycle 5s infinite; */
}

.current-game-entry{
    margin: 1em;
    font-weight: bold;
    color: white;
    font-size: 24px;
}

.game-entry{
    color: white;
    margin-right: 1em;
    margin-left: 1em;
}

.all-games-container{
    width: auto;
    height: auto;
    background-color: #5C5C5C;
    margin: 2em;
    border: 3px solid black;
    border-radius: 7%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-color: white;
    /* animation: colorCycle 5s infinite; */
}

.all-games-entry{
    margin: 1em;
    font-weight: bold;
    color: white;
    font-size: 24px;
}

.games-entry{
    color: white;
    margin-right: 1em;
    margin-left: 1em;
}