/* TicTacToeStylesheet.css */

/* Style the squares */
.square {
  background: #4fd9a2;
  color:  black;
  border: 2px solid #a94442;
  width: 120px;
  height: 120px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0s, color 0s;
}

/* Add a hover effect to the squares */
.square:hover {
  background: #f2dede;
}

/* Style the status text */
.status {
  font-size: 50px;
  margin: 0;
  text-align: center;
  color: black;
}

/* Style the dynamic text for player X */
.status span + span + span {
  color: black; /* Color for X */
}

/* Style the dynamic text for player O */
.status span + span + span {
  color: black; /* Color for O */
}

/* Style the button container to center it vertically and horizontally */
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Style the restart game button */
button {
  font-size: 18px;
  cursor: pointer;
  margin: 0;
  background: #5bc0de;
  border: 2px solid #46b8da;
  border-radius: 5px;
  color: black;
  transition: background 0.3s, color 0.3s;
  align-self: center; /* Center the button vertically */
}

/* Add a hover effect to the button */
button:hover {
  background: #31b0d5;
}

/* Style the board rows */
.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Set the background color of the game board */
.game-board {
  background: rgb(249, 4, 192);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0px solid rgb(85, 85, 85);
  border-radius: 50px;
  padding: 10px;
}

/* Style the wager section */
.wager-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px; /* Adjust the margin as needed */
  color: red;
}

/* Style the input and button in the wager section */
.wager-section input {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px; /* Adjust margin as needed */
  align-self: center; /* Align input to the left */
  padding: 5px;
}

/* Style the leaderboard section */
.leaderboard-section {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  align-items: center; /* Align leaderboard to the left */
  margin-bottom: 0px; /* Adjust the margin as needed */
  color: blue;
  background-color: #ffc0cb; /* Add your preferred background color here */
  padding: 10px; /* Add padding to give some space around the content */
  border-radius: 10px; /* Add border-radius for rounded corners */
}

/* Add styles for leaderboard entries if necessary */
.leaderboard-entry {
  font-size: 20px;
  margin-bottom: 5px;
}


